<ion-view id="settings-fee" class="settings">
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>
      {{'Bitcoin Network Fee Policy'|translate}}
    </ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="settings-explanation">
      <div class="settings-heading" translate>Bitcoin transactions include a fee collected by miners on the network.</div>
      <div class="estimates" ng-repeat="fee in feeLevels.livenet" ng-if="fee.level == currentFeeLevel">
        <span translate>Current fee rate for this policy: <span class="fee-rate">{{fee.feePerKBUnit}}/kiB</span></span>
      </div>
    </div>
  </ion-content>
</ion-view>
